{% extends "base/base.html" %}
{% load static %}
{% block content %}

<section class="home">
  <div class="form_container">
    <i class="ri-close-fill form_close"></i>
        <!-- Login Form -->
        <div class="form login_form">
          <form method="POST">
            {% csrf_token %}
            {% include "base/alert.html" %}
            {{ form.as_p }}
            <h2>Login</h2>
            <div class ="input_box">
              <input type="text" placeholder="First Name" name="first_name">
              <i class ="uil uil-envelope-alt"></i>
            </div>
            <div class ="input_box">
              <input type="text" placeholder="Last Name" name="last_name">
              <i class ="uil uil-envelope-alt"></i>
            </div>
            <div class ="input_box">
              <input type="email" placeholder="enter your email" name = "email">
            </div>
            <div class ="input_box">
              <input type="password" placeholder="enter your password" name = "password">
            </div>
            <button class="button">Login</button>
          </form>
        </div>
  </div>
</section>

{% endblock content %}