{% extends "base/base.html" %}

{% block content %}
<div class="form_container1" style="margin: 90px;">
    <div class="row">
        {% for product in product %}
           <div class="col-md-3">
                <figure class="card">
                    <img src="/media/{{product.product_images.first.images}}" style="height: 180px;">
                        <a href="{% url 'get_product' product.slug %}">{{product.product_name}}</a>
                        <div> <a>{{product.price}}.00</a></div> 
                </figure>
            </div>
        {% endfor %}    
    </div>
</div>
        
{% endblock content %}