{% extends "base/base.html" %}


{% block content %}

<div class="product-container">
    <div class="row">
        <div class="col-6">
            <div class="card">
              <h1>kkknnnnnnnnnnnnnnnnnnnnnnnnnn
                nnnnnnnnnnnnnnnnnnnnnnkk</h1>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
              <h1>Tommy Hilfiger</h1>
              <h3>Navy Blue Animal Textured Structured Sling Bag</h3
              <h2><span>
                <i class="ri-star-s-line"></i>
                <i class="ri-star-s-line"></i>
                <i class="ri-star-s-line"></i>
                <i class="ri-star-s-line"></i>
              </span></h2>
              <h2>₹1956 </h2>
              <h1>SELECT SIZE</h2>
                <span>
                     <button type="button" class="btn btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                </span> 
            </div>
            
        </div>
        
    </div>
    
  </div>

{% endblock content %}